{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% if group.image_name %}
  <img class="img-thumbnail float-md-right mb-4 ml-0 ml-md-4"
       width="150"
       src="{{ url_for('api.preview_group_image', id=group.id, ts=group.last_modified | timestamp) }}">
{% endif %}

{% snippet "resources/basic_info", resource=group %}

<hr>
<resource-permissions-view title="{% trans %}Members{% endtrans %}"
                           placeholder="{% trans %}No members.{% endtrans %}"
                           endpoint="{{ url_for('api.get_group_members', id=group.id, _internal=True) }}"
                           :creator="{{ group.creator.id }}">
</resource-permissions-view>
