/* Copyright 2020 Karlsruhe Institute of Technology
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License. */

$socket-color: #2c3e50;
$socket-margin: 6px;
$socket-size: 20px;

$context-menu-round: 5px;
$context-menu-width: 150px;

.connection {
  overflow: visible !important;
  position: absolute;
  z-index: -1;
  pointer-events: none;

  > * {
    pointer-events: all;
  }

  .main-path {
    fill: none;
    stroke-width: 3px;
    stroke: #dfdfdf;
  }
}

.item {
  color: white;
  padding: 4px;
  border-bottom: 1px solid black;
  background-color: #2c3e50;
  cursor: pointer;
  width: 100%;
  position: relative;

  &:first-child {
    border-top-left-radius: $context-menu-round;
    border-top-right-radius: $context-menu-round;
  }

  &:last-child {
    border-bottom-left-radius: $context-menu-round;
    border-bottom-right-radius: $context-menu-round;
  }

  &:hover {
    background-color: #3a5169;
  }
}
