{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "workflows/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0">
      <a class="btn btn-primary btn-block" href="{{ url_for('workflows.editor') }}">
        <i class="fas fa-edit"></i> {% trans %}Workflow editor{% endtrans %}
      </a>
    </div>
    <div class="col-lg-8">
      <div class="input-group">
        <input id="filter-input"
               class="form-control"
               placeholder="{% trans %}Filter workflows by name{% endtrans %}"
               v-model="filter">
        <clear-button input-id="filter-input" :input="filter" @clear-input="filter = ''"></clear-button>
      </div>
    </div>
  </div>
  <br>
  <dynamic-pagination placeholder="{% trans %}No workflows.{% endtrans %}" :endpoint="getWorkflowsEndpoint" :per-page="12">
    <template #default="paginationProps">
      <card-deck :items="paginationProps.items">
        <template #default="props">
          <div class="card-body">
            <a :href="props.item._links.edit" class="stretched-link">
              <span class="h5">
                <strong>{$ props.item.name $}</strong>
              </span>
            </a>
          </div>
          <div class="card-footer bg-white py-1">
            <small class="text-muted">
              {% trans %}Last modified{% endtrans %} <from-now :timestamp="props.item.last_modified"></from-now>
            </small>
          </div>
        </template>
      </card-deck>
    </template>
  </dynamic-pagination>
{% endblock %}

{% block scripts %}
  <script type="application/javascript" nonce="{{ csp_nonce() }}">
    new Vue({
      el: '#vm',
      data: {
        filter: '',
        getWorkflowsEndpoint: kadi.js_resources.get_workflows_endpoint,
      },
      watch: {
        filter() {
          this.getWorkflowsEndpoint = `${kadi.js_resources.get_workflows_endpoint}?filter=${this.filter}`;
        },
      },
    });
  </script>
{% endblock %}
