{# Copyright 2020 Karlsruhe Institute of Technology
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License. #}

{% extends "collections/manage_collection_base.html" %}

{% block breadcrumbs %}
  {{ super() }}
  {% snippet "breadcrumb", url=url_for("collections.manage_permissions", id=collection.id), title=title %}
{% endblock %}

{% block content %}
  <div class="card">
    {% include "collections/snippets/manage_collection_menu.html" %}

    <div class="card-header">
      <nav-tabs class="card-header-tabs"
                :items="[{id: 'manage-collection', param: 'collection', content: '{% trans %}Collection{% endtrans %}'},
                         {id: 'manage-records', param: 'records', content: '{% trans %}Linked records{% endtrans %}'}]">
      </nav-tabs>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div id="manage-collection" class="tab-pane">
          {% include "collections/snippets/manage_collection_permissions.html" %}
        </div>
        <div id="manage-records" class="tab-pane">
          {% include "collections/snippets/manage_record_permissions.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
